p This is the partial for view 1.
p The current time is {{time}}
button(ng-click="updateLuz(17,'on')", class='btn btn-success') On
button(ng-click="updateLuz(17,'manual')", class='btn btn-default') Manual
button(ng-click="updateLuz(17,'off')", class='btn btn-info') Off
p status:{{status}}