div.table-striped
    div.text-center.luz(ng-repeat='(luzName, luz) in luces')    
        h2 {{luzName}}
        div(class="switch-toggle switch-3 switch-candy")
            input(id="off-{{luzName}}", name="state-{{luzName}}", type="radio", ng-value="'off'", ng-model='luz', ng-change="updateLuz(luzName,luz)")
            label(for="off-{{luzName}}")
                i(class="fa fa-moon-o fa-3x text-muted")

            input(id="manual-{{luzName}}", name="state-{{luzName}}", type="radio", ng-value="'manual'", ng-model='luz', ng-change="updateLuz(luzName,luz)")
            label(for="manual-{{luzName}}")
                i(class='fa fa-hand-paper-o fa-3x text-success')

            input(id="on-{{luzName}}", name="state-{{luzName}}", type="radio", ng-value="'on'", ng-model='luz', ng-change="updateLuz(luzName,luz)")
            label(for="on-{{luzName}}", )
                i(class='fa fa-sun-o fa-3x text-warning')
            a
        hr
br
    
link(rel="stylesheet", href='css/toggle-switch.css') 